//- ATTRIBUTES:
//-
//-  * repeating_abilities.attr_name
//-  * repeating_abilities.attr_type
//-  * repeating_abilities.attr_page

+section("Abilities")
  .columns.is-gapless
    .column.is-6
      strong Name
    .column.is-4
      strong Type
    .column.is-2.has-text-centered
      strong Page
  fieldset.repeating_abilities
    .columns.is-gapless
      .column.is-6
        +attribute_text("attr_name")
      .column.is-4
        +attribute_text("attr_type")
      .column.is-2
        +attribute_numeric("attr_page")