//- ATTRIBUTES:
//-
//-  * attr_profile_pronouns
//-  * attr_profile_concept
//-  * attr_profile_appearance

+section()
  .columns.is-gapless
    .column.is-4.m-1
      img(name="attr_character_token" style="margin: auto; width: 100%; height: 100%")
    .column.is-8.m-1
      +attribute_text("attr_character_name", "Name")
      +attribute_text("attr_profile_pronouns", "Pronouns")
      +attribute_text("attr_profile_concept", "Concept")
      +attribute_text("attr_profile_appearance", "Appearance")
  .columns.is-gapless
    .column.is-6.m-1
      +attribute_text("attr_profile_aspect", "Aspect")
    .column.is-6.m-1
      +attribute_text("attr_profile_background", "Background")
  .columns.is-gapless
    .column.is-6.m-1
      +attribute_text("attr_profile_cath", "Cath")
    .column.is-6.m-1
      +attribute_text("attr_profile_discipline", "Discipline")