.columns
  .column Vigor
  .column
    +attribute_number("vigor")
  .column Agility
  .column
    +attribute_number("agility")
  .column Will
  .column
    +attribute_number("will")
  .column Nous
  .column
    +attribute_number("nous")
.columns
  .column SPD
  .column
    +attribute_number("spd")
  .column RES
  .column
    +attribute_number("res")
.columns
  .column AB
  .column
    +attribute_number("ab")
  .column MB
  .column
    +attribute_number("mb")
  .column PDEF
  .column
    +attribute_number("pdef")
  .column MDEF
  .column
    +attribute_number("mdef")
.columns
  .column
    +box_current_max("HP", "hp")
  .column
    +box_current_max("MP", "mp")