datalist#aspects
  each aspect in aspects
    option= aspect.name

datalist#backgrounds
  option Akademic
  option Binder
  option Courtier
  option Cultist
  option Dreg
  option Guilder
  option Nomad 
  option Outlaw 
  option Smallfolk 
  option Soldier 
  option Sorcerer
  option Warden

datalist#caths
  option Aeshee
  option Drakkan
  option Etheri
  option Fovorah
  option Greimal
  option Hobb
  option Hyulan 
  option Lemure
  option Orga
  option Orphanet
  option Savard
  option Thuun
  option Trekhori
  option Uliom
  option Voulga

datalist#disciplines
  option Black Mage
  option Green Mage
  option Hexguard
  option Hoplite
  option Mechnician 
  option Mendicant
  option Necrofactor
  option Raider
  option Red Lion
  option Swordsage
  option White Mage

datalist#abilities 
  option Techne
  option Spell
  option Boost
  option Counter
  option Dash

datalist#weapons
  option Axes
  option Books
  option Bowguns
  option Daggers
  option Guns
  option Hand-to-Hand
  option Maces
  option Polearms
  option Scythes
  option Shields
  option Staffs
  option Swords
  option Thrown

datalist#statuses
  each status in statuses
    option= status.name
