//- Top level
.columns.is-gapless
  .column.is-6.mr-2
    include sections/vawn
    include sections/derived
    include sections/vuln
    include sections/weapons
  .column.is-6.ml-2
    include sections/disciplines
    include sections/abilities
    include sections/statuses