//- Top level
.columns.is-gapless
  .column.is-6.mr-2
    include sections/party_warchest
    include sections/party_inventory
  .column.is-6.ml-2
    include sections/party_progress
    p TODO: story track
